@use '../themes/defaultTheme' as *;

.footer {
  display: block;
  position: aboslute;
  bottom: 0;
  padding: 0.5rem;
  background-color: $clr-primary-3;
  color: $clr-primary-9;
  text-align: center;
  #link {
    color: $clr-primary-9;
    margin: {
      left: 1rem;
      right: 1rem;
    }
    font-size: 150%;
    &:hover {
      color: $clr-primary-0;
    }
  }
}
