/* dark shades of primary color*/
/* The primary/main color */
/* lighter shades of primary color */
/* dark shades of secondary color*/
/* secondary color */
/* lighter shades of secondary color */
/* darkest grey - used for headings */
/* grey used for paragraphs */
/* lightest grey - used for outlines */
/* Other Colors used */
/*  .menu li {
        @include absolute(top 100% left 0)
    }
    .sticky-bar {
        @include fixed(top 0 left 0)
    }
    .submenu{
        @include relative()
    }
*/
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font-weight: normal;
  vertical-align: baseline;
  background: transparent;
}

main,
article,
aside,
figure,
footer,
header,
nav,
section,
details,
summary {
  display: block;
}

html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

img,
object,
embed {
  max-width: 100%;
  height: auto;
}

html {
  overflow-y: scroll;
}

ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}
blockquote::before, blockquote::after,
q::before,
q::after {
  content: "";
  content: none;
}

del {
  text-decoration: line-through;
}

abbr[title],
dfn[title] {
  border-bottom: 1px dotted #222;
  cursor: help;
}

table {
  border-collapse: separate;
  border-spacing: 0;
}

th {
  font-weight: bold;
  vertical-align: bottom;
}

td {
  font-weight: normal;
  vertical-align: top;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

input,
select {
  vertical-align: middle;
}

pre {
  white-space: pre;
  white-space: pre-wrap;
  white-space: pre-line;
  word-wrap: break-word;
}

input[type=radio] {
  vertical-align: text-bottom;
}

input[type=checkbox] {
  vertical-align: bottom;
}

.ie7 input[type=checkbox] {
  vertical-align: baseline;
}

.ie6 input {
  vertical-align: text-bottom;
}

select,
input,
textarea {
  font-size: 99%;
}

small {
  font-size: 85%;
}

strong {
  font-weight: bold;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

.clicklable,
label,
input[type=button],
input[type=submit],
input[type=file],
button {
  cursor: pointer;
}

button,
input[type=button] {
  width: auto;
  overflow: hidden;
}

.ie7 img {
  -ms-interpolation-mode: bicubic;
}

.clearfix::after {
  content: " ";
  display: block;
  clear: both;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  background-color: #cee0f3;
  color: #2e73b8;
}

main {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

h1,
h2,
h3,
h4 {
  letter-spacing: 0.1rem;
  text-transform: capitalize;
  line-height: 1.25;
  margin-bottom: 0.75rem;
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.25rem;
}

h4 {
  font-size: 0.875rem;
}

p {
  margin-bottom: 1.25rem;
  color: #577da2;
}

@media screen and (min-width: 800px) {
  h1 {
    font-size: 4rem;
  }

  h2 {
    font-size: 2.5rem;
  }

  h3 {
    font-size: 1.75rem;
  }

  h4 {
    font-size: 1rem;
  }

  body {
    font-size: 1rem;
  }

  h1,
h2,
h3,
h4 {
    line-height: 1;
  }
}
#graph,
#graph2 {
  max-width: 50rem;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#graph2 {
  max-width: 55%;
  height: 55%;
  transform: translate(0%, 15%);
}

h3 {
  text-align: center;
  padding-bottom: 0.4rem;
  display: block;
}

/*hr {
  background-color: $clr-primary-3;
  color: $clr-primary-3;
  border: 0.1rem solid $clr-primary-3;
}*/
#forecasts {
  float: left;
  border-left: 0.2rem solid #b1cfec;
  border-right: 0.2rem solid #b1cfec;
  content: "";
  clear: both;
  display: table;
  background-color: #cee0f3;
}

.zebra {
  background-color: #b1cfec;
}

#header {
  text-align: center;
}

.header2 {
  background-color: #2e73b8;
  color: #cee0f3;
  padding: 0.2rem;
  padding-bottom: 0.5rem;
  margin-top: 1rem;
  margin-bottom: 0rem;
}

#info {
  max-width: 100%;
  margin-right: auto;
  margin-left: auto;
  display: flex;
  align-items: stretch;
}

.graphs {
  background-image: url("../Images/clouds.png"), url("../Images/clouds-flipped.png");
  background-position: bottom, top;
  background-repeat: repeat-x, repeat-x;
  background-size: 42rem;
}

@font-face {
  font-family: "Press Start 2P";
  src: url("./fonts/PressStart2P-Regular.ttf");
}
.gifs {
  max-width: 20rem;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.pressStart,
p {
  text-align: center;
  font-family: "Press Start 2P";
  margin-top: 1rem;
}

p {
  font-size: 75%;
}

.footer {
  display: block;
  position: aboslute;
  bottom: 0;
  padding: 0.5rem;
  background-color: #2e73b8;
  color: #cee0f3;
  text-align: center;
}
.footer #link {
  color: #cee0f3;
  margin-left: 1rem;
  margin-right: 1rem;
  font-size: 150%;
}
.footer #link:hover {
  color: #153656;
}

.header {
  text-align: center;
  background-color: #2e73b8;
  color: #cee0f3;
  margin: 0rem;
  padding: 0.2rem;
}
.header #icon {
  align-items: center;
}

/*# sourceMappingURL=main.css.map */
